# Files
*.md
!README.md
*.zip
_*
*.png

# Dirs
data_perturbed/
data_loading/Fakeddit/images/
data_loading/Recovery/images/
results/
models/weights/
logs/
figures/
venv/
*/

# Local scripts
*.sh
!run_script.sh

# Local python scripts
*.py
!utils.py
