# Files
*.md
!README.md
*.zip
_*
*.png

# Dirs
data_perturbed/
data_loading/Fakeddit/images/
data_loading/Recovery/images/
models/weights/
logs/
figures/
venv/
data/
checkpoints/
!scripts/*

# Local scripts
*.sh
!run_script.sh

# Local python scripts
!utils.py
